@font-face {
	font-family: SF;
	src: url(../fonts/SF-Pro-Display-Medium.otf);
	font-display: fallback;
}

@font-face {
	font-family: SF;
	font-weight: 400;
	src: url(../fonts/SF-Pro-Display-Light.otf);
	font-display: fallback;
}

@font-face {
	font-family: SF;
	font-weight: 800;
	src: url(../fonts/SF-Pro-Display-Thin.otf);
	font-display: fallback;
}



html {
	margin: 0; padding: 0;
	box-sizing: border-box;
	cursor: crosshair;
}

body {
	margin: 0; padding: 0;
	box-sizing: border-box;
	font-family: SF, Sans-Serif;
	font-weight: 400;
	background-color: rgba(13,14,15,1);
	color: #fff;
}

* {
	box-sizing: border-box;
}

*:after { box-sizing: border-box; }
*:before { box-sizing: border-box; }

img {
	max-width: 100%;
	height: auto;
	margin: 20px 0px;
}

a {
	color: #fff;
}

p {
	font-size: 1.5rem;
	color: rgba(255,255,255,0.6);
	line-height: 1.5;
}
